<h1>Admin Dashboard</h1>
  <h2>Welcome Back <%= current_user.fullname %></h2>
  <div id="thumbnail">
    <%= image_tag current_user.image %>
  </div>
<%= link_to "Categories Information", admin_categories_path %>
<%= link_to "Items Information", admin_items_path %>
