<footer id="footer" class="footer navbar-fixed-bottom">
  <div class="row">
    <div class="col-md-12">
      <h4>Administrator Controls</h4>
      <%= link_to('Manage Customer Orders', admin_orders_path, class: "btn btn-lg btn-default orders") %>
      <%= link_to "Manage Categories", admin_categories_path, class: "btn btn-lg btn-default" %>
      <%= link_to "Manage Items", admin_items_path, class: "btn btn-lg btn-default" %>
    </div>
  </div>
</footer>
