<div id="categories">
  <ul>
    <% current_categories.each do |category| %>
    <label>
      <input type="checkbox" value="<%= category.name %>" id="<%= category.name %>ID"/>
      <%= category.name %>
    </label>
    <% end %>
  </ul>
</div>
