<div class="filters sidebar col-md-3">
 <h2>All Items</h2>
  <h4>Filter by Category</h4>
  <%= render partial: "partials/categories" %>
  <h4>Filter by Supplier</h4>
  <%= render partial: "partials/supplier_list" %>
</div>

