<div class="supplier_list">
	<% @suppliers.each do |supplier| %>
			<div><%= check_box(:current_suppliers, "suppliers",{multipart: true},  supplier.slug, nil) %>
				<%= supplier.name  %>
			</div>
	<% end  %>
</div>
