<div class="supplier_list">
<ul>
	<% @suppliers.each do |supplier| %>
		<li>
			<div><%= check_box(:current_suppliers, "suppliers",{multipart: true},  supplier.slug, nil) %>
				<%= supplier.name  %>
			</div>
		</li>
	<% end  %>
	</ul>
</div>
