<div id="orders" class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
  <h2>Manage Customer Orders</h2>
  <ul>
    <% @orders.keys.each do |status| %>
      <h3><%= status %></h3>
      <% @orders[status].each do |order| %>
        <li><%= "Order# #{order.id}: " %> <%= order.created_at.strftime("Submitted at: %b %d, %Y %H:%M") %>
          <%= link_to 'view', admin_order_path(order) %>
        </li>
      <% end %>
    <% end %>
  </ul>
  </div>
  <div class="col-md-1"></div>
</div>
