<div class="welcome">
  <div class="row">
    <div class="col-md-12 text-right">
      <%= link_to "View All Supplies", items_path, class: "btn btn-default" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">

      <div class="col-md-6 col-xs-12" id="hurricane">
        <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
          <div class="flipper">
            <div class="front">
              <img src="assets/Hurricane_Katrina_23.jpg" class="disaster" alt="Hurricane Image" width="300" height="300">
            </div>
            <div class="back">
              <img src="assets/house-fire.jpg" class="disaster" alt="Hurricane Image" width="300" height="300">
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-xs-12" id="fire">
        <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
          <div class="flipper">
            <div class="front">
              <img src="assets/house-fire.jpg" class="disaster" alt="Hurricane Image" width="300" height="300">
            </div>
            <div class="back">
              <img src="assets/flood.jpg" class="disaster" alt="Hurricane Image" width="300" height="300">
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-xs-12" id="flood">
        <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
          <div class="flipper">
            <div class="front">
              <img src="assets/flood.jpg" class="disaster" alt="Hurricane Image" width="300" height="300">
            </div>
            <div class="back">
              <img src="assets/house-fire.jpg" class="disaster" alt="Hurricane Image" width="300" height="300">
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-xs-12" id="earthquake">
        <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
          <div class="flipper">
            <div class="front">
              <img src="assets/earthquake.jpg" class="disaster" alt="Hurricane Image" width="300" height="300">
            </div>
            <div class="back">
              <img src="assets/flood.jpg" class="disaster" alt="Hurricane Image" width="300" height="300">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
