<div id="welcome">
  <div class="row">
    <div class="col-md-7">
    </div>
    <div class="col-md-5 welcome-side">
      <h1>Get relief...<br/>
      ...now</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">

    </div>
    <div class="col-md-4">

    </div>
    <div class="col-md-4">

    </div>
  </div>
</div>
