<div class="row">
  <div class="col-md-12">

    <h1>Are you within burrito bombing range?</h1>

    <div id="map">
      <script>
      L.mapbox.accessToken = 'pk.eyJ1IjoiY2x1aHJpbmciLCJhIjoiNWF2Z1l6ZyJ9.8peAq7kTQyvXShlVv1K82w';
      var map = L.mapbox.map('map', 'cluhring.l1b0862b')
      </script>
    </div>
</div>
</div>
