<table>
  <% @items.each do |item| %>
  <tr>
    <td>
      <%= item.title %>
    </td>
    <td>
      <%= item.description %>
    </td>
    <td>
      <%= item.price %>
    </td>
    <td>
      <%= button_to "Add to Cart", cart_item_path(item) %>
    </td>
  </tr>
  <% end %>
</table>
