<h1> Hello Admin Categories </h1>
<table>
  <% @categories.each do |category| %>
  <tr>
    <td>
      <%= category.name %>
    </td>
    <td>
      <%= category.description %>
    </td>
    <td>
      <%= button_to "Edit Current Category" %>
    </td>
  </tr>
  <% end %>
</table>

<td>
  <%= link_to "Create New Category", new_admin_category_path %>
</td>
