@import "bootstrap-sprockets";
@import "bootstrap";

#restaurant_name h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Chango', Arial, sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

#logo img {
  height: 125px;
}

#restaurant_name a {
  text-decoration: none;
  color: black;
}

#cart {
  float: right;
  margin-top: 10px;
}

#user-nav {
  text-align: right;
}

#category-nav a {
  font-family: 'Chango', Arial, sans-serif;
  color: #6AB088;
}

.form-control .logout {
  margin-top: 2px;
}
.btn {
  padding: 4px 17px;
}

.logout {
  margin-top: 2px;
}

.form-horizonal {
  margin: 0px;
}

.form-control {
  padding: 5px;
  height: 30px;
}
