@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-image: image-url('burrito_logo.jpg');
  background-repeat: no-repeat;
  background-position-x: 50px;
  background-size: 200px;
}

.alert-danger {
  background-image: linear-gradient(to bottom,#f2dede 0,#e7c3c3 100%);
  background-repeat: repeat-x;
  border-color: #dca7a7;
  margin-bottom: 20px;
  box-shadow: inset 0 1px 0 rgba(255,255,255,.25),0 1px 2px rgba(0,0,0,.05);
  margin-bottom: 20px;
  border-radius: 4px;
  padding-left: 15px;
}

.container {
  padding-bottom: 150px;
}

#welcome {
	padding-bottom: 150px;
}
#restaurant_name h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Chango', Arial, sans-serif;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: #537344;
}

#logo {
  height: 150px;
}

#restaurant_name a {
  text-decoration: none;
  color: black;
}

.table > tbody > tr > td {
  vertical-align: middle;
}

.hide {
  disply: none;
}

#cart {
  float: right;
  margin-top: 10px;
}

#user-nav {
  text-align: right;
}

#category-nav a {
  font-family: 'Chango', Arial, sans-serif;
  color: #6AB088;
}

#item_show {
  margin-top: 30px;
}

#item_show img {
  margin-top: 50px;
}

#item_show h2 {
  margin-bottom: 30px;
}

#item_show p {
  font-size: 20px;
}

#item_show .btn {
  margin-top: 20px;
  padding: 15px;
  font-size: 20px;
}

.filters {
  height: 100%;
}

#status {
  font-size: 20px;
}

#status p {
  padding-bottom: 10px;
}

#cart_total {
  font-size: 20px;
}

#cart_total .btn {
  margin-top: 10px;
}

.footer {
  width: 100%;
  margin: 20px -10px -10px 0;
  padding: 15px 20px 40px 120px;
  background-color: #7FC1A9;
}

.form-control .logout {
  margin-top: 2px;
}

.qty {
  width: 50px;
  height: 32px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  margin-right: 5px;
}

.btn {
  padding: 4px 17px;
}

.logout {
  margin-top: 2px;
}

.form-control {
  padding: 5px;
  height: 30px;
}

.create {
  margin-bottom: 10px;
}

#session {
  margin-bottom: 5px;
}

#session .register {
  font-size: 16px;
}

.footer h4 {
  margin-bottom: 30px;
}
