@import "bootstrap-sprockets";
@import "bootstrap";

.container {
  padding-bottom: 150px;
}

#restaurant_name h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Chango', Arial, sans-serif;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: #537344;
}

#logo img {
  height: 125px;
  margin-bottom: 10px;
}

#restaurant_name a {
  text-decoration: none;
  color: black;
}

#cart {
  float: right;
  margin-top: 10px;
}

#user-nav {
  text-align: right;
}

#category-nav a {
  font-family: 'Chango', Arial, sans-serif;
  color: #6AB088;
}

#item_show {
  margin-top: 30px;
}

#item_show img {
  margin-top: 50px;
}

#item_show h2 {
  margin-bottom: 30px;
}

#item_show p {
  font-size: 20px;
}

#item_show .btn {
  margin-top: 20px;
  padding: 15px;
  font-size: 20px;
}

#status {
  font-size: 20px;
}

#status p {
  padding-bottom: 10px;
}

.footer {
  width: 100%;
  margin: 20px -10px -10px 0;
  padding: 15px 20px 40px 120px;
  background-color: #7FC1A9;
}

.form-control .logout {
  margin-top: 2px;
}

.btn {
  padding: 4px 17px;
}

.logout {
  margin-top: 2px;
}

.form-control {
  padding: 5px;
  height: 30px;
}

.create {
  margin-bottom: 10px;
}

#session {
  margin-bottom: 5px;
}

#session .register {
  font-size: 16px;
}

.footer h4 {
  margin-bottom: 30px;
}
