@import "bootstrap-sprockets";
@import "bootstrap";

// Global elements

body {
  background-repeat: no-repeat;
  background-position-x: 50px;
  background-size: 200px;
}

button {
  margin: 10px;
}

.row {
  margin: 5px;
  width: 100%;
}

.row-items {
  margin-left: 250px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Montserrat', Arial, sans-serif;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: #537344;
}

//Header

#header-box {
  background-image: image-url('airliftlogo.jpg');
  background-repeat: no-repeat;
  background-position-x: 20px;
  background-size: 100px;
  background-color: white;
  width: 100%;
}

#restaurant_name a {
  text-decoration: none;
  color: black;
  font-family: 'modern', serif;
  font-size: 40px;
}

#restaurant_name h4 {
  margin-bottom: 15px;
  font-family: 'modern';
  font-size: 20px;
}

.btn.btn-link.btn-default.register {
  margin-right: -30px;
}

.logout {
  margin-top: 2px;
}

.search-nav {
  background-color: #D7D8D9;
  margin: 0;
  padding: 7px;
}

#search-bar {
  margin-left: -21px;
}

.btn-default.view-items {
  height: 35px;
  padding-top: 7px;
  margin-top: 5px;
}

.btn-default.profile {
  height: 35px;
  padding-top: 7px;
  margin-right: 30px;
}

input#search {
  height: 35px;
}

.btn-default.search {
  height: 35px;
}

#cart {
  margin: 5px 0 0 55px;
}

#cart_total {
  font-size: 20px;
}

.cart-dollars {
  padding-right: 15px;
}

#cart_total .btn {
  margin-top: 10px;
}

.row.container {
  margin-top: -5px;
}

.container {
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
  background-color: white;
}

.alert-danger {
  background-color: #76CEDB;
  padding-left: 15px;
}

//Welcome Page

#welcome {
  background-image: image-url('helicopter_pic_sm.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}

#welcome .welcome-side h1 {
  font-family: 'Montserrat', Arial, sans-serif;
  height: 100%;
  color: white;
  font-size: 70px;
  padding: 305px 0 0 15px;
}

.col-md-4.feature {
  width: 32%;
  margin-top: 15px;
  padding-bottom: 7px;
}

.feature {
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 7px;
}


// Rich's Treasure Trove of CSS

.table > tbody > tr > td {
  vertical-align: middle;
}

.col-md-8 {
  text-align: right;
  padding-right: 45px;
}

.modal-title {
  text-align: left;
  padding-bottom: 25px;
}

.login-modal-content {
  text-align: left;
  background-color: white;
  padding: 25px;
  height: 230px;
  width: 500px;
  z-index: 1;
}

.login-modal-info {
  text-align: left;
}

.modal-login-button {
  float: left;
  padding-left: 190px;
  padding-top: 15px;
}

#login-modal-register {
  float: left;
  padding-left: 132px;
}

.register-signup-button {
  text-align: left;
  padding-left: 195px;
  font-size: 25px;
}

.register-modal-content {
  padding: 25px;
  height: 315px;
  width: 800px;
  background-color: white;
}

.modal-content {
  padding: 25px;
  width: 800px;
  height: 600px;
}

.modal-item-image {
  float: left;
}

.modal-item-details {
  float: right;
}

.modal-cart-button {
  text-align: right;
  padding: 15px;
}

#item_show {
  padding: 25px;
  height: 550px;
  width: 700px;
}

.sidebar {
  height: 100%;
  margin-bottom: 800px;
  position: fixed;
  z-index: 0;
}

#status {
  font-size: 20px;
}

#status p {
  padding-bottom: 10px;
}

#item-list {
  text-align: center;
}

.form-control .logout {
  margin-top: 2px;
}

.qty {
  width: 50px;
  height: 32px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  margin-right: 5px;
}

.btn {
  padding: 2px 17px;
}

.form-control {
  padding: 5px;
  height: 30px;
}

.create {
  margin-bottom: 10px;
}

#session {
  margin-bottom: 5px;
}

#session .register {
  font-size: 16px;
}

.view-btn {
  margin: 0;
  padding: 0;
}

#item-list {
  border-left: solid;
  border-width: 0px;
  height: 250px;
  padding: 20px;
  // margin-left: 250px;
}

#categories ul {
  padding-left: 0;
}

#categories-checkbox {
  font-size: 16px;
  font-family: 'Chango', Arial, sans-serif;
  color: black;
}

#categories {
  color: black;
}

.supplier_list {
  color: black;
  font-weight: bold;
}

#supplier-checkbox {
  padding: 3px;
}

.item-box {
   background-color: white;
   border-radius: 25px;
   border: 3px solid #ccc;
   position: relative;
   margin: 5px;
   padding: 0px;
}

#item-info {
  position: absolute;
  text-align: center;
  bottom: 0;
  padding-bottom: 5px;
}

// Supplier Page

#supplier-links {
  padding-bottom: 15px;
  font-size: 17px;
}
