<h3>Pending Orders (<%= @orders[:cancelled].count %>)</h3>

<table class="table">
  <% @orders[:cancelled].each do |order| %>
  <tr>
    <td>
      <%= link_to "Order# #{order.id}: ", supplier_order_path(order) %>
      <%= order.created_at.strftime("Submitted at: %b %d, %Y %H:%M") %>
    </td>
  </tr>
  <% end %>
</table>
