<div roll="tabpanel" id="status-cancelled" class="tab-pane fade">
  <h3>Cancelled Orders
    <% if @orders["cancelled"] %>
      (<%= @orders["cancelled"].count %>)
    <% end %>
  </h3>

  <% if @orders["cancelled"] %>
    <table class="table">
      <% @orders["cancelled"].each do |order| %>
      <tr>
        <td>
          <%= link_to "Order# #{order[:id]}: ", supplier_order_path(id: order[:id]) %>
          <%= order.created_at.strftime("Submitted at: %b %d, %Y %H:%M") %>
        </td>
      </tr>
      <% end %>
    </table>
  <% else %>
    <p>
      There are no cancelled orders to display.
    </p>
  <% end %>
</div>
