<div roll="tabpanel" id="status-shipped" class="tab-pane fade">
  <h3>Shipped Orders
    <% if @orders["completed"] %>
      (<%= @orders["completed"].count %>)
    <% end %>
  </h3>

  <% if @orders["completed"] %>
    <table class="table">
      <% @orders["completed"].each do |order| %>
      <tr>
        <td>
          <%= link_to "Order# #{order[:id]}: ", supplier_order_path(id: order[:id]) %>
          <%= order.created_at.strftime("Submitted at: %b %d, %Y %H:%M") %>
        </td>
      </tr>
      <% end %>
    </table>
  <% else %>
    <p>
      There are no shipped orders to display.
    </p>
  <% end %>
  </div>
