<div roll="tabpanel" id="status-shipped" class="tab-pane fade">
  <h3>Shipped Orders (<%= @orders[:completed].count %>)</h3>

  <table class="table">
    <% @orders[:completed].each do |order| %>
    <tr>
      <td>
        <%= link_to "Order# #{order[:id]}: ", supplier_order_path(id: order[:id]) %>
        <%= order.created_at.strftime("Submitted at: %b %d, %Y %H:%M") %>
      </td>
    </tr>
    <% end %>
  </table>
</div>
